@if (ingredients) {
  <div class="ingredients-step-container" [formGroup]="parentForm">
    <div formArrayName="ingredients">
      @for (ing of ingredients.controls; track ing) {
        <div [formGroupName]="$index" class="flex gap-2 mb-2">
          <mat-form-field appearance="outline" class="form-field form-field-ingredient flex-1">
            <mat-label>Ingrediente</mat-label>
            <input matInput formControlName="ingredientId" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field form-field-quantity w-28">
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="quantity" />
          </mat-form-field>

          <button mat-icon-button color="warn" type="button" (click)="removeIngredient($index)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      }
    </div>

    <div class="mt-2">
      <button mat-raised-button color="primary" type="button" (click)="addIngredient()">
        Agregar ingrediente
      </button>
    </div>
  </div>

}
