
<div class="container">
  @if (recipes.length > 0) {
    <mat-grid-list cols="3" gutterSize="16px" rowHeight="1:1">
      @for (recipe of recipes; track recipe.id) {
        <mat-grid-tile>
          <mat-card class="recipe-card" (click)="goToDetail(recipe.id)">
            <img
              mat-card-image
              [src]="recipe.imageKey || 'assets/no-image.png'"
            />
            <mat-card-content>
              <h3>{{ recipe.title }}</h3>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  } @else {
    <p>No recipes available</p>
  }
</div>
