@if (recipes.length > 0) {
<div class="component-card-list">
  @for (recipe of recipes; track recipe.id) {
  <a class="component-card-list-item" (click)="goToDetail(recipe.id)">
    <div class="component-card" matRipple>
      <img class="component-card-image" [src]="recipe.imageKey" [alt]="recipe.title" />
      <div class="component-card-title">{{ recipe.title }}</div>
      <div class="component-card-summary">{{ recipe.description}}</div>
    </div>
  </a>
}
</div>
}@else {
    <p>No recipes available</p>
}